USE [master]
GO
/****** Object:  Database [MoviesDB]    Script Date: 15-11-2023 20:23:19 ******/
CREATE DATABASE [MoviesDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MoviesDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\MoviesDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MoviesDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\MoviesDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MoviesDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MoviesDB]
GO
/****** Object:  Table [dbo].[actors]    Script Date: 15-11-2023 20:23:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[actors](
	[actor_id] [int] NOT NULL,
	[name] [varchar](45) NOT NULL,
	[birth_year] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[actor_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[financials]    Script Date: 15-11-2023 20:23:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[financials](
	[movie_id] [int] NOT NULL,
	[budget] [decimal](10, 2) NULL,
	[revenue] [decimal](10, 2) NULL,
	[unit] [varchar](20) NULL,
	[currency] [char](3) NULL,
PRIMARY KEY CLUSTERED 
(
	[movie_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[languages]    Script Date: 15-11-2023 20:23:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[languages](
	[language_id] [tinyint] NOT NULL,
	[name] [varchar](45) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[language_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[movie_actor]    Script Date: 15-11-2023 20:23:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[movie_actor](
	[movie_id] [int] NOT NULL,
	[actor_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[movie_id] ASC,
	[actor_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[movies]    Script Date: 15-11-2023 20:23:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[movies](
	[movie_id] [int] NOT NULL,
	[title] [varchar](150) NOT NULL,
	[industry] [varchar](45) NULL,
	[release_year] [int] NULL,
	[imdb_rating] [decimal](3, 1) NULL,
	[studio] [varchar](45) NULL,
	[language_id] [tinyint] NULL,
PRIMARY KEY CLUSTERED 
(
	[movie_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[actors] ([actor_id], [name], [birth_year]) VALUES (50, N'Yash', 1986)
INSERT [dbo].[actors] ([actor_id], [name], [birth_year]) VALUES (51, N'Sanjay Dutt', 1959)
INSERT [dbo].[actors] ([actor_id], [name], [birth_year]) VALUES (52, N'Benedict Cumberbatch', 1976)
GO
INSERT [dbo].[financials] ([movie_id], [budget], [revenue], [unit], [currency]) VALUES (101, CAST(1.00 AS Decimal(10, 2)), CAST(12.50 AS Decimal(10, 2)), N'Billions', N'INR')
INSERT [dbo].[financials] ([movie_id], [budget], [revenue], [unit], [currency]) VALUES (102, CAST(200.00 AS Decimal(10, 2)), CAST(954.80 AS Decimal(10, 2)), N'Millions', N'USD')
INSERT [dbo].[financials] ([movie_id], [budget], [revenue], [unit], [currency]) VALUES (103, CAST(165.00 AS Decimal(10, 2)), CAST(644.80 AS Decimal(10, 2)), N'Millions', N'USD')
GO
INSERT [dbo].[languages] ([language_id], [name]) VALUES (1, N'Hindi')
INSERT [dbo].[languages] ([language_id], [name]) VALUES (2, N'Telugu')
INSERT [dbo].[languages] ([language_id], [name]) VALUES (3, N'Kannada')
GO
INSERT [dbo].[movie_actor] ([movie_id], [actor_id]) VALUES (101, 50)
INSERT [dbo].[movie_actor] ([movie_id], [actor_id]) VALUES (101, 51)
INSERT [dbo].[movie_actor] ([movie_id], [actor_id]) VALUES (102, 52)
GO
INSERT [dbo].[movies] ([movie_id], [title], [industry], [release_year], [imdb_rating], [studio], [language_id]) VALUES (101, N'K.G.F: Chapter 2', N'Bollywood', 2022, CAST(8.4 AS Decimal(3, 1)), N'Hombale Films', 3)
INSERT [dbo].[movies] ([movie_id], [title], [industry], [release_year], [imdb_rating], [studio], [language_id]) VALUES (102, N'Doctor Strange in the Multiverse of Madness', N'Hollywood', 2022, CAST(7.0 AS Decimal(3, 1)), N'Marvel Studios', 5)
INSERT [dbo].[movies] ([movie_id], [title], [industry], [release_year], [imdb_rating], [studio], [language_id]) VALUES (103, N'Thor: The Dark World ', N'Hollywood', 2013, CAST(6.8 AS Decimal(3, 1)), N'Marvel Studios', 5)
GO
ALTER TABLE [dbo].[movie_actor]  WITH NOCHECK ADD FOREIGN KEY([actor_id])
REFERENCES [dbo].[actors] ([actor_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[movie_actor]  WITH NOCHECK ADD FOREIGN KEY([movie_id])
REFERENCES [dbo].[movies] ([movie_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[movies]  WITH NOCHECK ADD FOREIGN KEY([language_id])
REFERENCES [dbo].[languages] ([language_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
USE [master]
GO
